@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 1.2rem;
  }
}

@media (max-width: 1000px) {
  body {
    padding: 3.2rem 4.8rem;
  }

  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
  .category-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.4rem;
  }
  section {
    min-height: 50vh;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}
